//$headings-font-family: "Arial",,"DM Sans", Times, serif;

$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow: none;
$accordion-icon-color: white;
$accordion-icon-active-color: white;
$accordion-transition: 0;
