@import "variable_overrides.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "reset.scss";

//TITRE
.title {
  color: #d04f4f;
  font-weight: 700;
  font-size: 36px;
}
//BARRE DE RECHERCHE PRINCIPALE
#searchInput {
  height: 69px;
  background: #e7e7e7;
  border-radius: 5px;
  &::placeholder {
    opacity: 0.25;
  }
  &:focus {
    caret-color: black;
  }
}
#logo_s0 {
  width: 30px;
  height: 30px;
  margin-left: -3rem;
  margin-top: 1.1rem;
}
//TAGS
#tags {
  width: 20%;
}
//BARRES DE RECHERCHES SECONDAIRES
.accordion {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  &-item {
    border: none;
    &--ingr {
      margin-right: 1rem;

      & :nth-child(1) {
        background: #3282f7;
      }
    }
    &--app {
      margin-right: 1rem;
      & :nth-child(1) {
        background: #68d9a4;
      }
    }
    &--ust {
      & :nth-child(1) {
        background: #ed6454;
      }
    }
  }
  &-button {
    border-radius: 2px;
    margin-right: 1rem;
    & .inputSearch {
      color: white;
      width: 80px;
      &::placeholder {
        color: white;
        opacity: 0.8;
      }
    }
  }
  &-body {
    color: white;
    z-index: 1;
    position: absolute;
    & .ingredients,
    & .ustensiles,
    & .appareil {
      display: flex;
      flex-flow: column wrap;
      padding-left: 0;

      & .ingrsC,
      & .ustsC,
      & .appsC {
        margin-right: 0.7rem;
      }
    }
  }
}

//listes recettes
#recipes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
  z-index: -1;
}
